<form method="post" action="traitement.php">
    <p>Avez-vous été testé pour le corona virus? *<br />
        <input type="radio" name="teste" value="1" id="1" /> <label for="1">Non effectué.</label><br />
        <input type="radio" name="teste" value="2" id="2" /> <label for="2">Oui. et le résultat du test est négatif.</label><br />
        <input type="radio" name="teste" value="3" id="3" /> <label for="3">Oui et en attente du résultat du test .</label><br />
        <input type="radio" name="teste" value="4" id="4" /> <label for="4">Oui. et le résultat du test est positif.</label>
    </p>
    <p>En ce qui concerne l'isolement médical. lequel des
        éléments suivants s'applique à vous:<br />
        <input type="radio" name="teste" value="1" id="1" /> <label for="1">Je suis en isolement médical parce que j'ai
            rencontré une personne contaminée.</label><br />
        <input type="radio" name="teste" value="2" id="2" /> <label for="2">Je suis en isolement médical parce que j'ai des

            symptômes.</label><br />
        <input type="radio" name="teste" value="3" id="3" /> <label for="3">Je ne suis pas en isolement médical mais
            j'étais proche de quelqu'un en isolement médical.</label><br />
        <input type="radio" name="teste" value="4" id="4" /> <label for="4">Je ne suis pas en isolement médical.</label>
    </p>
    <p>-Avez-vous actuellement ou avez-vous déjà vécu l'une des
        situations suivantes:<br />
        <input type="radio" name="teste" value="1" id="1" /> <label for="1">Insuffisance cardiaque chronique.</label><br />
        <input type="radio" name="teste" value="2" id="2" /> <label for="2">Cas précédent de crise cardiaque.</label><br />
        <input type="radio" name="teste" value="3" id="3" /> <label for="3">Diabète.</label><br />
        <input type="radio" name="teste" value="4" id="4" /> <label for="4">Hypertension artérielle.</label>
        <input type="radio" name="teste" value="5" id="5" /> <label for="5">Maladie rénale chronique.</label><br />
        <input type="radio" name="teste" value="6" id="6" /> <label for="6">Maladie pulmonaire chronique.</label><br />
        <input type="radio" name="teste" value="7" id="7" /> <label for="7">Le cancer.</label><br />
        <input type="radio" name="teste" value="8" id="8" /> <label for="8">Système immunitaire affaibli.</label>
        <input type="radio" name="teste" value="9" id="9" /> <label for="9">Prenez des médicaments anti-immuns.</label>
    </p>
  
        <p>
            -Avez-vous eu les symptômes suivants aujourd'hui?.Veuillez
les cocher si c'est le cas :<br />
            <input type="checkbox" name="1" id="1" /> <label for="1">Fièvre supérieure à 38 degrés.</label><br />
            <input type="checkbox" name="2" id="2" /> <label for="2">Difficulté à respirer.</label><br />
            <input type="checkbox" name="3" id="3" /> <label for="3">Douleurs musculaires.</label><br />
            <input type="checkbox" name="4" id="4" /> <label for="4">Fatigue ou faiblesse importante.</label>
            <input type="checkbox" name="1" id="5" /> <label for="5">Fatigue ou faiblesse importante.</label><br />
            <input type="checkbox" name="2" id="6" /> <label for="6">Congestion nasale ou nez qui coule.</label><br />
            <input type="checkbox" name="3" id="7" /> <label for="7">Inflammation de la gorge.</label><br />
            <input type="checkbox" name="4" id="8" /> <label for="8">Toux sèche.</label>
            <input type="checkbox" name="9" id="9" /> <label for="9">Toux Avec mucus.</label>
            
        </p> 
              
                -Depuis combien du temps avez-vous toussé? <br />    
                <input type="number" />
           
             <button type="submit" class="btn btn-primary">Envoyer La demande</button>
       
    

 </form>
