<div class="container">
   <div class="jumbotron mt-5">
      <div class="col-sm-8 mx-auto">
          <h1 class="text-center">Welcome </h1>
         
      </div>
     
   </div>
</div>
<div>
   <div>
      <div>
         <ul class="navbar-nav mr-auto">
            <li class="nav-item">
               <a routerLink="/" class="nav-link" href="#">le tableau de bord,</a>
             </li>
            
             <li class="nav-item">
               <a routerLink="/traiter" class="nav-link" href="#">afficher l’archive des fiches déjà traitées</a>
             </li>
             <li class="nav-item">
               <a routerLink="/nontraiter" class="nav-link" href="#">les demandes non traitées</a>
             </li>
           </ul>
      </div>
   </div>
   
</div>

